<h1>hello world</h1>
<div class="register">
  <form class="register-form" action="/" method="post">


    <!-- <label>name</label> -->
    <input type="TEXT" placeholder="Please enter your name"name="name" ><br>

    <!-- <label>email</label> -->
    <input type="TEXT" placeholder="Please enter your email" name="email" ><br>

    <!-- <label>password</label> -->
    <input type="TEXT" placeholder="password" name="password"><br>

    <button id="register-button">GET STARTED</button>
  </form>

</div>
  <a id="log-in" href="/login">Log-In</a>
