<h1>hello world</h1>

<form class="" action="/" method="post">


  <label>name</label>
  <input type="TEXT" name="name" >

  <label>email</label>
  <input type="TEXT" name="email" >

  <label>password</label>
  <input type="TEXT" name="password" >

  <button>Register</button>
</form>


<a href="/login">Go to Log-In</a>
