<div class="session-form">
  <form action="/session" method="post">

    <!-- <label>email</label> -->
    <input type="text" placeholder="Enter Email" name="email">

    <!-- <label for="">password</label> -->
    <input type="password" placeholder="Enter Password"name="password">

    <button>login</button>
  </form>

</div>


<a href="/all" >Time to vote</a>

<div class="name-emo" >
  <% count = 0 %>
  <% @leaders.each do |leader| %>
  <img src= "/<%=leader.name%>.jpg" alt=""><br>
  <h2 style="display:inline"><%= leader.name %></h2>
  <p style="display:inline"><%= @votes[count] %></p><br>
  <% count=count+1 %><br><br>

  <% end %>

</div>
