<div class="session-form">
  <form action="/session" method="post">

    <!-- <label>email</label> -->
    <input type="text" placeholder="Enter Email" name="email">

    <!-- <label for="">password</label> -->
    <input type="password" placeholder="Enter Password"name="password">

    <button>login</button>
  </form>

</div>



<div class="name-emo">
  <% @leaders.each do |leader| %>
  <h2><%= leader.name %></h2>
  <% end %>

  <a href="/all">Time to vote</a>
</div>
