h1{
  color: tomato;
  font: italic normal bold 30px courier;
  /*border-bottom: 5px solid black;*/
  /*margin-left: 5px;*/
}

.name-emo{
  color: black;
  font: italic normal bold 15px courier;
}

.emo-page{
  color: steelblue;
  font: italic normal bold 25px courier;
}

#a-emo{
  height: 155px;
  width:  160px;
}
#h-emo{
  height:150px;
  width:150px;
}
